$bg-color: var(--primary-bg-color);
$box-shadow: 0px 0px 15px 10px rgb(4, 0, 9, 0.4);
$font-color: var(--gold2);
$font-color-secondary: var(--gold1);
$transition: transform 0.5s ease-out;

.navbar {
	transition: all 0.5s ease-out !important;

	// .toggler-btn {
	// 	padding: var(--bs-navbar-toggler-padding-y)
	// 		var(--bs-navbar-toggler-padding-x);
	// 	font-size: var(--bs-navbar-toggler-font-size);
	// 	line-height: 1;
	// 	color: var(--gold1) !important;
	// 	// background-color: transparent;
	// 	background-color: black;

	// 	border: 3px solid var(--bs-navbar-toggler-border-color);
	// 	border-radius: var(--bs-navbar-toggler-border-radius);
	// 	border-color: var(--gold1);
	// 	transform: scale(1);
	// 	transition: transform 0.5s ease-out;
	// 	&:hover {
	// 		transform: scale(0.9);
	// 		background-color: black;
	// 		border: 2px var(--gold1) solid;
	// 	}
	// 	span {
	// 		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(166, 130, 58, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	// 	}
	// }
	&:has(.show),
	&:has(.collapsing) {
		box-shadow: $box-shadow;
		background-color: $bg-color !important;
		.container-fluid {
			background-color: $bg-color;
			.navbar-collapse {
				padding-top: 10px;
			}
		}
	}
	.logo-img {
		height: 80px;
	}

	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(166, 130, 58, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}

	&.nav-animation {
		transform: scale(0.8) translate(-300px, 120%) !important;
		transition: $transition !important;
	}
	&.nav-normal {
		transform: none;
		transform: $transition !important;
	}
}

.button {
	width: 45px;
	height: 40px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	border: 1px solid var(--gold2);
	padding: 7px;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	overflow: hidden;

	.lines-div {
		height: 25px;
		width: 60px;
		position: absolute;
		right: 9px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;

		.line-div {
			height: 3px;
			width: 100%;
			display: flex;
			flex-wrap: nowrap;
			// $transition: all 0.6s ease-in;
			transition: all 0.25s ease-in-out;
			// transform: translateX(-50%);

			&:nth-child(1) {
				transition-delay: 0;
			}
			&:nth-child(2) {
				transition-delay: 0.125s;
			}
			&:nth-child(3) {
				transition-delay: 0.25s;
			}

			.line {
				height: 3px;
				width: 100%;

				background-color: var(--gold2);

				&:nth-child(2) {
					margin-inline-start: 10px;
				}
			}
		}
	}

	&:hover {
		.lines-div {
			.line-div {
				.line {
					background-color: var(--gold1);
				}
			}
		}

		.line-1 {
			transform: translateX(35px); // Move to the right
		}
		.line-2 {
			transform: translateX(35px); // Move to the right
		}
		.line-3 {
			transform: translateX(35px); // Move to the right
		}
	}
}

.logo-img {
	height: 80px;
}

@media (max-width: 576px) {
	.navbar {
		.logo-img {
			height: 40px;
		}

		&.nav-animation {
			transform: scale(0.8) translate(-350px, 210%) !important;
		}
	}
}
