<div class="page-inner">
	<section class="page-section video-div p-0">
		<video autoplay muted loop class="video">
			<source src="assets/Videos/diwan-graffiti1.mp4" type="video/mp4" />
			<!-- Add additional video sources for cross-browser compatibility if needed -->
			Your browser does not support the video tag.
		</video>
		<div class="landing-overlay" [style.opacity]="opacity"></div>
		<div class="landing-overlay text">
			<!-- <h6>About</h6> -->
			<h1 class="gold-text">Amr Diwan</h1>
			<h3 class="gold-text">Graffiti and architecture design.</h3>
			<h3 class="gold-text">Bringing life to walls <s></s>ince 2004.</h3>
		</div>
		<div class="scroll-down">
			<div class="arrow1"></div>
			<div class="arrow2"></div>
		</div>
	</section>

	<div class="page-container">
		<section class="page-section no-min about">
			<div class="sub-title gold-text">
				<strong>Amr Diwan</strong> combines the concepts of <strong>graffiti</strong> and <strong>architecture</strong> design elements. <br />
				<small>we guarantee high quality personalized designs that will bring your brand to life.</small>
			</div>
			<div class="tab-content">
				<div class="stat-list">
					<div *ngFor="let stat of Stats; let i = index" class="stat stat{{i}}">
						<div class="number" [id]="'number-' + i">{{ stat.Number }}</div>
						<div class="text t{{i}}">
							<div class="stat-title">{{ stat.Title }}</div>
							<div class="description">{{ stat.Description }}</div>
						</div>
					</div>
				</div>

				<div class="browse-more mb-3">
					<a class="btn btn-primary" [routerLink]="RoutePaths.ArtWorks">Learn More</a>
				</div>
			</div>
		</section>

		<section class="page-section no-min projects">
			<div class="tab-content">
				<div class="parent">
					<div class="div1 project">
						<img src="assets/Images/girl-wall.jpg" />
					</div>
					<div class="div2 project">
						<img src="assets/Images/dog-wall.jpg" />
					</div>
					<div class="div3 project">
						<img src="assets/Images/dog-wall-2.jpg" />
					</div>
					<div class="div4 project">
						<img src="assets/Images/girl-wall-3.jpg" />
					</div>
					<div class="div5 project">
						<img src="assets/Images/girl-wall-5.jpg" />
					</div>
					<div class="div6 project">
						<img src="assets/Images/dog-wall-2.jpg" />
					</div>
					<div class="div7 project">
						<img src="assets/Images/girl-wall-2.jpg" />
					</div>
				</div>
			</div>
		</section>
		<section class="page-section no-min partners">
			<h1 class="title">Partners</h1>
			<div class="tab-content">
				<div class="list">
					<span *ngFor="let partner of Partners.slice(0, MinIndex);let i = index " class="">
						<img [src]="partner.ImgSrc" [alt]="partner.ImgAlt" />
					</span>
					<span class="browse-more mt-3">
						<button (click)="loadMore()" *ngIf="MinIndex < Partners.length" class="btn btn-primary">
							More
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
						</button>
					</span>
				</div>
			</div>
		</section>
	</div>
</div>
